@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins:wght@200&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.body{
    font-family: 'Comfortaa', cursive;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}

h1{
    font-family: 'Comfortaa', cursive;
    margin-bottom: 20px;
}

label{
    font-family: 'Comfortaa', cursive;
    font-weight: 300px;

}

input{
    font-family: 'Comfortaa', cursive;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 300px;
}

button{
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    width: 300px;
    margin: 10px;
    padding: 10px;
    font-weight: 300px;
    cursor: pointer;
    border: none;
}

.apple{
    background-color: #000000;
    color: white;
}

.email{
    background-color: #c67171;
    color: white;
}

.github{
    background-color: #000000;
    color: white;
}

.facebook{
    background-color:#00688B;
    color: white;
}

.twitter{
    background-color: #00B2EE;
    color: white;
}

.google{
    background-color: #CD3333;
    color: white;
}

i{
    padding-right: 40px; 
    font-size: 20px;
}


